* {
  padding: 0;
    margin: 0;
    overflow: hidden;
}
.field {
    width:315px;
    height: auto;
    background-color: black;
    botder: 1px solid green;
    margin-left: 10px;
}
.action-button {
    width: 150px;
    background-color: blue;
    color: antiquewhite;
    float: left;
    margin-right: 20px;
    height: 40px;
    margin-left: 10px;
    
}

.game-table {
    
    border-collapse: collapse;    
}
.game-cell {
    width: 15px;
    height: 15px;
    border: 1px dotted whitesmoke;
    border-collapse: collapse;
}